<nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a [routerLink]="'/admin/dashboard'"
         class="list-group-item list-group-item-action py-2 ripple"
         aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <a [routerLink]="'/admin/usuarios'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-users fa-fw me-3"></i>Usuários
      </a>
      <a [routerLink]="'/admin/categorias'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-tags fa-fw me-3"></i>Categorias
      </a>
      <a [routerLink]="'/admin/funcionarios'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-user-tie fa-fw me-3"></i>Funcionários
      </a>
      <a [routerLink]="'/admin/news'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-newspaper fa-fw me-3"></i>Notícias
      </a>
      <a [routerLink]="'/admin/paginas'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-file-alt fa-fw me-3"></i>Páginas
      </a>
      <a [routerLink]="'/admin/slides'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-images fa-fw me-3"></i>Slides
      </a>
      <a [routerLink]="'/admin/cardapios'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-utensils fa-fw me-3"></i>Cardápios
      </a>
      <a [routerLink]="'/admin/eventos'" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-calendar-alt fa-fw me-3"></i>Eventos
      </a>
    </div>
  </div>
</nav>
