<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <!-- Dashboard -->
      <a href="#"
         class="list-group-item list-group-item-action py-2 ripple"
         aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main Dashboard</span>
      </a>

      <!-- Dropdown Pages -->
      <a class="list-group-item list-group-item-action py-2 ripple d-flex justify-content-between align-items-center"
         data-bs-toggle="collapse" href="#pagesMenu" role="button" aria-expanded="false" aria-controls="pagesMenu">
        <span>
          <i class="fas fa-folder fa-fw me-3"></i>Pages
        </span>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="collapse ms-3" id="pagesMenu">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-home fa-fw me-3"></i>Home
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-info-circle fa-fw me-3"></i>About
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-list fa-fw me-3"></i>Category
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-newspaper fa-fw me-3"></i>Latest News
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-envelope fa-fw me-3"></i>Contact
        </a>
      </div>

      <!-- Users -->
      <a href="#"
         class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
      </a>
    </div>
  </div>
</nav>
<!-- Sidebar -->
