<div class="container">
  <h1>Gerenciamento de Cardápios da Semana</h1>

  <form class="form-container" [formGroup]="cardapioForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="diaDaSemana">Selecione o dia da semana:</label>
      <select id="diaDaSemana" formControlName="diaDaSemana" class="form-control">
        <option value="0">Domingo</option>
        <option value="1">Segunda</option>
        <option value="2">Terça</option>
        <option value="3">Quarta</option>
        <option value="4">Quinta</option>
        <option value="5">Sexta</option>
        <option value="6">Sabado</option>
      </select>
    </div>

    <div class="form-group">
      <label for="titulo">Título:</label>
      <input id="titulo" formControlName="titulo" type="text" placeholder="Digite o título do cardápio" />
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea id="descricao" formControlName="descricao" placeholder="Digite a descrição do cardápio"></textarea>
    </div>

    <div class="form-group">
      <label for="file">Imagem:</label>
      <input type="file" id="file" (change)="onFileSelected($event)" class="form-control" />
    </div>

    <div class="button-group">
      <button class="btn btn-primary" type="submit">{{ isEditing ? 'Atualizar' : 'Cadastrar' }}</button>
      <button class="btn btn-secondary" type="button" (click)="resetForm()" *ngIf="isEditing">Cancelar</button>
    </div>
  </form>

  <table class="cardapio-table">
    <thead>
      <tr>
        <th>Dia</th>
        <th>Título</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardapio of cardapios">
        <td>{{ cardapio.diaDaSemana | diaSemana }}</td>
        <td>{{ cardapio.titulo }}</td>
        <td>
          <button class="btn btn-edit" (click)="editCardapio(cardapio)">Editar</button>
          <button class="btn btn-delete" (click)="deleteCardapio(cardapio.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
