<footer>
  <!-- Footer Start -->
  <div class="footer-main footer-bg">
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row justify-content-between">
          <!-- Logo Section -->
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <div class="footer-logo">
                  <a routerLink="/"><img [src]="footerData.logoSrc" alt="Logo"></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p class="info1">{{ footerData.info.description }}</p>
                    <p class="info2">{{ footerData.info.address }}</p>
                    <p class="info2">{{ footerData.info.phone }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Popular Posts Section -->
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Popular post</h4>
              </div>
              <div *ngFor="let post of footerData.posts" class="whats-right-single mb-20">
                <div class="whats-right-img">
                  <img [src]="post.imgSrc" alt="Post Image">
                </div>
                <div class="whats-right-cap">
                  <h4><a [href]="post.link">{{ post.title }}</a></h4>
                  <p>{{ post.author }} | {{ post.time }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Banner Section -->
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="banner">
                <img [src]="footerData.bannerImgSrc" alt="Banner Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area footer-bg">
      <div class="container">
        <div class="footer-border">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="footer-copy-right text-center">
                <p>
                  &copy; {{ currentYear }} {{ footerData.copyright.text }}
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <a [href]="footerData.copyright.link" target="_blank">{{ footerData.copyright.linkText }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
</footer>
