<footer>
  <!-- Footer Start -->
  <div class="footer-main footer-bg">
    <div class="footer-area footer-padding">
      <div class="container text-center">
        <!-- Logo -->
        <div class="footer-logo mb-3">
          <img [src]="footerData.logoSrc" [alt]="footerData.logoAlt">
        </div>
        <!-- Direitos Autorais -->
        <div class="footer-copy-right">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            Todos os direitos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
</footer>
