<header>
  <div class="header-area">
    <!-- Header Top -->
    <div class="header-top bg-dark text-white d-none d-sm-block">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <span class="flaticon-energy"></span> trending-title
              </li>
              <li class="list-inline-item">Class property employ ancho red multi level mansion</li>
            </ul>
          </div>
          <div class="col-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <span class="flaticon-calendar"></span> +880166 253 232
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Middle -->
    <div class="header-mid bg-light py-3">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 d-none d-md-block">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo/logo.png" alt="Logo">
            </a>
          </div>
          <div class="col-md-9 text-end">
            <img src="assets/img/gallery/header_card.png" alt="Header Banner" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <!-- Header Bottom -->
    <div class="header-bottom sticky-top bg-white">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand d-lg-none" href="index.html">
            <img src="assets/img/logo/logo.png" alt="Sticky Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/category">Category</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/latest-news">Latest News</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">Pages</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/blog">Blog</a></li>
                  <li><a class="dropdown-item" routerLink="/blog-details">Blog Details</a></li>
                  <li><a class="dropdown-item" routerLink="/elements">Element</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://www.fb.com/sai4ull">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="nav-item">
                <button class="btn btn-outline-secondary" (click)="toggleSearch()">
                  <i class="fa fa-search"></i>
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
