<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebarDocuments" [class.active]="isSidebarActive">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <ul>
      @for (item of menuItems; track item) {
        <li>
          <!-- Item principal -->
          <div class="menu-item" (click)="item.children.length > 0 ? toggleExpand(item.label) : null">
            <span>{{ item.label }}</span>
            @if (item.children.length > 0) {
              <button class="expand-btn">
                {{ isExpanded(item.label) ? '-' : '+' }}
              </button>
            }
          </div>
          <!-- Submenu -->
          @if (item.children && isExpanded(item.label)) {
            <ul class="submenu" [style.margin-left.px]="20">
              @for (child of item.children; track child) {
                <li>
                  <!-- Item filho -->
                  <div class="menu-item" (click)="child.children.length > 0 ? toggleExpand(child.label) : child.pdfUrl ? selectDocument(child.pdfUrl) : null">
                    <span>{{ child.label }}</span>
                    @if (child.children.length > 0) {
                      <button class="expand-btn">
                        {{ isExpanded(child.label) ? '-' : '+' }}
                      </button>
                    }
                  </div>
                  <!-- Submenu do filho -->
                  @if (child.children.length > 0 && isExpanded(child.label)) {
                    <ul class="submenu" [style.margin-left.px]="20">
                      @for (subChild of child.children; track subChild) {
                        <li>
                          <div class="menu-item" (click)="subChild.pdfUrl ? selectDocument(subChild.pdfUrl) : null">
                            <span>{{ subChild.label }}</span>
                          </div>
                        </li>
                      }
                    </ul>
                  }
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </nav>
  <app-pdf-viewer id="content" [pdfUrl]="selectedPdf"></app-pdf-viewer>
</div>
