<header>
  <nav id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Botão Hamburguer -->
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/logo/logo.png"
             height="40"
             alt="Logo"
             loading="lazy" />
      </a>

      <!-- Avatar com Dropdown -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                 class="rounded-circle"
                 height="30"
                 alt="Avatar"
                 loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Meu perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
