<div class="team-area pt-10">
  <div class="container">
    <div class="row">
      <div class="cl-xl-7 col-lg-8 col-md-10">
        <div class="section-tittles mb-70">
          <span>Aniversariantes do mês</span>
          <h2>Nossos funcionários</h2>
        </div>
      </div>
    </div>
    <div class="row">
      @for (funcionario of funcionarios; track funcionario) {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-"
          >
          <div class="single-team mb-30">
            <div class="team-img">
              <img [src]="funcionario.imagemUrl" alt="" />
            </div>
            <div class="team-caption">
              <h3><a href="#">{{ funcionario.nome }}</a></h3>
              <span>{{ funcionario.cargo }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
