<div class="sidebar">
  <ul>
    <ng-container *ngFor="let item of menuItems">
      <li>
        <div class="menu-item" (click)="toggleExpand(item.label)">
          <span>{{ item.label }}</span>
          <button *ngIf="item.children" class="expand-btn">
            {{ isExpanded(item.label) ? '-' : '+' }}
          </button>
        </div>
        <ul *ngIf="item.children && isExpanded(item.label)"
            class="submenu"
            [style.margin-left.px]="20">
          <ng-container *ngFor="let child of item.children">
            <li>
              <div class="menu-item" (click)="toggleExpand(child.label)">
                <span (click)="child.pdfUrl ? selectDocument(child.pdfUrl) : null">
                  {{ child.label }}
                </span>
                <button *ngIf="child.children" class="expand-btn">
                  {{ isExpanded(child.label) ? '-' : '+' }}
                </button>
              </div>
              <ul *ngIf="child.children && isExpanded(child.label)"
                  class="submenu"
                  [style.margin-left.px]="20">
                <ng-container *ngFor="let subChild of child.children">
                  <li>
                    <div class="menu-item">
                      <span (click)="subChild.pdfUrl ? selectDocument(subChild.pdfUrl) : null">
                        {{ subChild.label }}
                      </span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
