<section class="contact-section">
  <div class="container">
    <!-- OpenStreetMap Section -->
    <div class="d-none d-sm-block mb-5 pb-4">
      <div id="map" style="height: 480px; position: relative; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
          <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(mapUrl)"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0">
          </iframe>
          <small>
            <a [href]="mapLink" target="_blank">View Larger Map</a>
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">{{ contactTitle }}</h2>
      </div>
      <div class="col-lg-8">
        <form class="form-contact contact_form" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control w-100"
                          [(ngModel)]="formData.message"
                          name="message"
                          id="message"
                          cols="30"
                          rows="9"
                          placeholder="Enter Message">
                        </textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control valid"
                       [(ngModel)]="formData.name"
                       name="name"
                       id="name"
                       type="text"
                       placeholder="Enter your name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control valid"
                       [(ngModel)]="formData.email"
                       name="email"
                       id="email"
                       type="email"
                       placeholder="Email">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input class="form-control"
                       [(ngModel)]="formData.subject"
                       name="subject"
                       id="subject"
                       type="text"
                       placeholder="Enter Subject">
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="media contact-info" *ngFor="let contact of contactInfos">
          <span class="contact-info__icon">
            <i [class]="contact.icon"></i>
          </span>
          <div class="media-body">
            <h3>{{ contact.title }}</h3>
            <p>{{ contact.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
