.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 400px; /* Altura fixa para o carrossel */
}

.carousel-slide {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  display: none; /* Esconde os slides inativos */
  transition: opacity 0.5s ease-in-out;
}

  .carousel-slide.active {
    display: flex; /* Mostra apenas o slide ativo */
    opacity: 1;
    position: relative;
  }

.carousel-half {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Alinha os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  overflow: hidden;
  height: 100%;
}
  .carousel-half h2 {
    margin-bottom: 10px; /* Adiciona espaço entre o título e o parágrafo */
    font-size: 1.5rem; /* Ajusta o tamanho do título */
  }

  .carousel-half p {
    font-size: 1rem; /* Ajusta o tamanho do parágrafo */
    line-height: 1.5; /* Adiciona espaçamento entre as linhas */
    text-align: justify; /* Opcional: Alinha o texto de forma justificada */
  }

  .carousel-half img,
  .carousel-half video {
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta o conteúdo para cobrir o espaço disponível */
    border-radius: 10px;
  }

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

  .carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }

    .carousel-controls button:hover {
      background: rgba(0, 0, 0, 0.8);
    }
